/*************GENERAL CLASSES************************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Karla', sans-serif;
}
a,a:focus,a:hover{
text-decoration: none;
}
section{
    background: #FFF;
}

body,html{
    widows: 100%;
}
.content-box-md{
 padding: 200px 0;   
}
.m-t-10{
    margin-top: 10px; !important
}
.m-t-20{
    margin-top: 20px; !important
}

.m-t-30{
    margin-top: 30px; !important
}

.m-t-40{
    margin-top: 40px; !important
}

.m-t-50{
    margin-top: 50px; !important
}

m-t-60{
    margin-top: 60px; !important
}
m-t-70{
    margin-top: 70px; !important
}

m-t-80{
    margin-top: 80px; !important
}

m-t-90{
    margin-top: 90px; !important
}

m-t-100{
    margin-top: 100px; !important
}

m-t-110{
    margin-top: 110px; !important
}


.m-b-10{
    margin-bottom: 10px; !important
}
.m-b-20{
    margin-bottom: 20px; !important
}

m-b-30{
    margin-bottom: 30px; !important
}

m-b-40{
    margin-bottom: 40px; !important
}

m-b-50{
    margin-bottom: 50px; !important
}

m-b-60{
    margin-bottom: 60px; !important
}
m-b-70{
    margin-bottom: 70px; !important
}

m-b-80{
    margin-bottom: 80px; !important
}

m-b-90{
    margin-bottom: 90px; !important
}

m-b-100{
    margin-bottom: 100px; !important
}

m-b-110{
    margin-bottom: 110px; !important
}

p-t-10{
    padding-top: 10px; !important
}
p-t-20{
    padding-top: 20px; !important
}

p-t-30{
    padding-top:  30px; !important
}

p-t-40{
    padding-top:  40px; !important
}

p-t-50{
    padding-top:  50px; !important
}

p-t-60{
    padding-top:  60px; !important
}
p-t-70{
   padding-top:  70px; !important
}

p-t-80{
    padding-top:  80px; !important
}

p-t-90{
   padding-top:  90px; !important
}

p-t-100{
   padding-top: 100px; !important
}

p-t-110{
   padding-top: 110px; !important
}

.container{
    padding: 0px; !important
        margin: 0px; !important
}
 

/************VISSION - MISSION***************************************/


#vision-mission .img-bg{
    background-image: url(img/about/istockphoto-622896088-612x612.jpg);
    height: 800px;
    background-size: cover;
    background-position: bottom;
}

#vision-mission .col-md-6{
    padding: 0 ;!important
    margin: 0; !important
}

#vision-mission .content-outer{
    display: table;
    height: 800px;
    padding: 90px;
}

#vision-mission .content-inner{
    display: table-cell;
    vertical-align: middle;
}

#vision-mission h2{
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 700;
}

#vision-mission p{
    color: #878c9b;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
}

#select{
    background: #f2b636;
    padding: 100px;
}

#select .main-heading{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
}
#select .content{
    margin-bottom: 50px;
}
#select .content i{
    font-size: 60px;
    color: #182141;
}

#select .content h4{
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 10px;
}

#select .content p{
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 15px;
}

#services{
    background-image: url(img/about/onepage-about.jpg);
    height: 650px;
    background-size: cover;
    background-position: bottom;
}

#services .content{
    padding: 90px;
}
#services .content h3{
    font-size: 32px;
    margin-bottom: 30px;
}
#services .content p{
      color: #878c9b;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    margin-right: 400px;
}

/********************************************
                PORTFOLIO SECTION
********************************************/

#portfolio .portfolio-heading h5{
    font-size: 60px;
    color:  #f2b636;
    font-weight: 500;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
}


/*ISOTOPE FILTERS*/

#isotope-filters button{
	font-family:  Karla, sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	box-shadow: none!important;
	outline: 0;
	background: transparent;
	padding-right: 15px;
	border: none;
    text-align: center;
    
    
}

#isotope-filters button span{
	display: block;
	padding-bottom: 5px;
	border-bottom: solid 3px transparent;
	transition: border-color .4s ease;
}

#isotope-filters button.active span{
	border-bottom: solid 2px  #f2b636;
}



.portfolio-item {
	overflow: hidden;
	position: relative;
}

.portfolio-item img {
	transition: all .5s ease;
    padding: 15px;
}

.portfolio-item-overlay {
	position: absolute;
	background-color: rgba(28, 36, 67,0.8);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	opacity: 0;
	transition: all .5s ease;
}

.portfolio-overlay-details {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);

}


.portfolio-overlay-details h3 {
	margin: 0;
	color:  #f2b636;
	font-size: 24px;
	text-transform: capitalize;
	transform: translateY(-100px);
	transition: all .4s ease;
}



.portfolio-overlay-details p {
	font-size: 17px;
	color: #fff;
	text-transform: capitalize;
    line-height: 1px;
	margin: 0;
	padding: 0;
	transform: translateY(200px);
	transition: all .5s ease;
	
}



/*PORTFOLIO HOVERS*/
.portfolio-item:hover img{
	transform: scale(1.2);
}



.portfolio-item:hover .portfolio-item-overlay{
	opacity: 1;
	
}

.portfolio-item:hover .portfolio-overlay-details p,
.portfolio-item:hover .portfolio-overlay-details h3{
	transform: translateY(0);
}

#portfolio{
    padding-bottom: 90px;
}
/**********************TEAM*********************************************/

#team{
    background-image: url(img/testimonial/onepage-testi-bg.jpg);
    height: 1000px;
    background-size: cover;
    background-position: bottom;
}

#team .portfolio-heading h5{
    font-size: 60px;
    color:  #f2b636;
    font-weight: 500;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

#team .content-outer{
    height: 490px;
    width: 350px;
    background: #FFF;
    color: #878c9b;
    display: table;
    padding: 30px;
    text-align: center;
    transition: all .3s linear;
}

#team .content-outer:hover{
    cursor: grab;
    transform: translateY(-30px);
}

#team .content-outer img{
    display: inline-block;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

#team .content-inner{
     height: 490px;
    width: 370px;
    display: table-cell;
    vertical-align: middle;
}

#team .content-outer p{
       color: #878c9b;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}

#team .content-outer h2{
     color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 0px;
}

#team .content-outer h3{
     color:  #878c9b;
    font-size: 18px;
    font-weight: 400;
        margin-top: 0px;
    margin-bottom: 30px;
}

/***************************CLIENTS*******************************************/
#clients{
    padding-top: 90px;
    padding-bottom: 90px;
}
#clients img{
    height: 100px;
    width: 100px;
}

/*****************************FOOTER**************************************/
#footer{
    padding-top: 120px;
    background: #182141;
    height: 500px;
}

#footer img{
    width: 120px;
    height: 50px;
    margin-bottom: 20px;
     
}
#footer p{
    color:#7B7D7F;
    font-size: 16px;
    line-height: 1.6;
    
}

#footer li a{
     color:#7B7D7F;
    font-size: 16px;
    line-height: 1.6;
    padding: 5px;
    display: inline-block;
    
}

#footer li{
    list-style: none;
    margin-left: 100px;
}

#footer li a:hover{
    color: #f2b636;
}

#footer h5{
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 17px;
    text-transform: uppercase;
    color:  #f2b636;
    font-weight: 700;
}

#footer .right{
    margin-left: 50px;
}

#footer .down{
    padding-top: 60px;
    font-size: 16px;
}

#footer .horizontal {
      font-size: 12px;
    font-weight: 300;
    display: inline-block;
     padding-top: 60px;
    margin-left: -30px;
}

#footer .horizontal a{
    display: inline-block;
    padding-right: 40px;
}